.banner {
  max-height: 400px;
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  display: block;
  object-fit: cover;
}

.contentContainer {
  max-width: var(--max-width);
  margin: 5rem auto;

  @media screen and (max-width: 768px) {
    padding: 0 1.5rem;
  }

  @media screen and (max-width: 425px) {
    font-size: .95rem;
  }
}

.title {
  margin-bottom: 1.5rem;
}

.info {
  display: flex;
  flex-direction: row;
  margin: 0 0 4rem 0;

  span,
  time {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 1.5rem 0 0;

    svg {
      margin-right: 0.5rem;
    }

    @media screen and (max-width: 425px) {
      margin: 0;
    }
  }

  @media screen and (max-width: 425px) {
    justify-content: space-between;
    width: 100%;
  }
}
