.container {
  padding: 4.97rem 0 2.55125rem;

  div {
    max-width: var(--max-width);
    margin: 0 auto;
    
    @media screen and (max-width: 768px) {
      margin: 0 1.5rem;
    }
  }
}
